@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #310b63;
}

/* Header for phones*/
header {
  background-color: #ffffff;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 0 2px 4px #3a3a3a;
}

/* Remove default link styles in header*/
header a {
  text-decoration: none;
  color: inherit;
}

/* Navigation menu */
#menu {
  font-size: 110%;
  letter-spacing: 2px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu li {
  margin-bottom: 1em;
}

/* Active page link */
.active {
  border-bottom: 1px solid #3a3a3a;
}

main {
  flex: 1 0 auto;
}

header {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#nav-toggle{
    /* hide checkbox */
    display: none; 
}

.nav-toggle-label{
    font-size: 2rem;
    cursor: pointer;
}

footer {
  background-color: lightcoral;
}

nav {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  padding: 10px;
  box-shadow: 0 2px 4px #3a3a3a;
  display: none;
}

